{% extends 'base.html.twig' %}

{% block title %}Logga in
{% endblock %}

{% block body %}
	<div class="container mx-auto my-5" style="max-width: 24em">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form method="post">
			<div class="mb-3">
				<h2 class="my-0 text-black-50 text-nowrap">Inloggning för medlemmar</h2>
			</div>

			<div class="container p-3 bg-white shadow-sm">
				<h4 class="mt-0 mb-3 text-uppercase">Inloggningsuppgifter</h4>

				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="E-postadress" value="{{ last_username }}" required autofocus/>
				</div>

				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Lösenord" required/>
				</div>

				<div class="d-flex justify-content-end mt-1">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
					<button type="submit" class="btn btn-primary">
						Logga in
					</button>
				</div>
			</div>

			<div class="d-flex flex-column align-items-center mt-3">
				<p class="mb-0">
					Har du inget konto?
				</p>
				<a href="{{ path('security_register') }}" class="btn btn-link">
					Registrera medlemskap
				</a>
			</div>
		</form>
	</div>
{% endblock %}
