{% extends "base.html.twig" %}
{% block body %}
<div class="container my-5">
    <div class="container p-3 bg-light rounded-lg">
        <h2>Du är nu registrerad!</h2>

        <p><strong>Tack {{ customer.userPersonFirstname }} {{ customer.userPersonSurname }}!</strong></p>
    </div>
</div>
{% endblock %}