{% extends "base.html.twig" %}
{% block body %}
{{ include("core/header.html.twig") }}
<div class="container my-5">
    <div id="index-movies-component"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('core/api.html.twig') }}
    {{ encore_entry_script_tags('index_movies') }}
{% endblock %}