{% extends "base.html.twig" %}
{% block body %}
<div class="container my-5">
    <h2>Tom startsida!</h2>

    <p><strong>Navigera till:</strong></p>

    <ul>
        <li><a href="{{ path('customer_register') }}">Registrera ny kund</a></li>
    </ul>
</div>
{% endblock %}