{% extends "base.html.twig" %}
{% block body %}
{{ include("core/header.html.twig") }}
<div class="container my-5">
    <h2>Tom startsida!</h2>

    <p><strong>Navigera till:</strong></p>

    <ul>
        <li><a href="{{ path('members_registrering') }}">Registrera medlemskap</a> eller <a href="{{ path('members_inloggning') }}">logga in</a></li>
    </ul>
</div>
{% endblock %}