{% extends 'base.html.twig' %}

{% block title %}Resources{% endblock %}

{% block body %}
<div class="container my-5">
  <h1>Resources</h1>

  <p>Här hittas resurser (bilder, ljudfiler, med mera).</p>
</div>
{% endblock %}
