<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Biograf{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="root" />
        {% endblock %}

        <script>
            window.APP_API_ENDPOINT = "{{ api.endpoint }}";
        </script>
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
